* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
}

.navbar {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-links {
    color: olive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-weight: 400;
    font-size: 2rem;
}

.rec-container{
    margin: 3rem;
}

.description {
    padding: 10px;
    text-align: left;
    margin: 10px;
}

.heading,
#title {
    color: olive;
}

#title {
    font-size: 4rem;
    font-weight: 500;
}

.rec-container .rec-image {
    width: 500px;
    height: auto;
}

.heading {
    font-style: italic;
    font-size: 2rem;
}

.list li {
    text-align: left;
    padding: 10px;
}