body {
    background-color: antiquewhite;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
}

h1,
h2 {
    color: olive;
}

img {
    width: 500px;
    height: auto;
}

h2 {
    font-style: italic;
}

ul,
ol {
    text-align: left;
}