body {
    background-color: antiquewhite;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
}

h1,
ul {
    color: olive;
}

img {
    width: 500px;
    height: auto;
}

ul {
    font-style: italic;
}