*{
    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.home-container {
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

#title,
.recipe-link {
    color: olive;    
}

#title {
    font-size: 4rem;
}

img {
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 10px;
    border-radius: 40px;
}

.recipe-item {
    font-style: italic;
    list-style: none;
    padding: 15px;
    margin-top: 20px;
}

.recipe-link {
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px;
}